.footer {
  width: 100%;
  background-color: hsl(210, 9%, 96%);
}
.elements {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 2rem;
  font-size: 15px;
  color: hsl(210, 10%, 33%);
  font-weight: 600;
}
.logo img {
  width: 4rem;
}
.logos img {
  margin: 1rem;
}
@media (max-width: 800px) {
  .elements {
    font-size: 13px;
  }
}
@media (max-width: 650px) {
  .elements {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    font-size: 15px;
  }
}
